[submodule "external/CppNumericalSolvers"]
	path = external/CppNumericalSolvers
	url = https://github.com/PatWie/CppNumericalSolvers.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
